---

---

<body>
<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<h1>My Astro site</h1>
<h2>About me</h2>
<h2>... and my new Astro site !</h2>
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nam adipisci numquam distinctio iure minima sapiente
    fugiat. Tenetur eos laboriosam eum sit aut? Molestiae ipsam ut nesciunt fuga deserunt nobis qui.</p>
<p>This site will update as I compelte more of the tutorial</p>
</body>